.tooltiptext{display:none;}
.allmast{height:278px;width:576px;z-index:3;}
.mast{position:absolute;height:48px;width:48px;z-index:4;}
.mast4111{left:0px;top:0px;}
.mast4112{left:48px;top:0px;}
.mast4113{left:96px;top:0px;}
.mast4114{left:144px;top:0px;}
.mast4121{left:0px;top:48px;}
.mast4122{left:48px;top:48px;}
.mast4123{left:96px;top:48px;}
.mast4124{left:144px;top:48px;}
.mast4131{left:0px;top:96px;}
.mast4132{left:48px;top:96px;}
.mast4133{left:96px;top:96px;}
.mast4134{left:144px;top:96px;}
.mast4141{left:0px;top:144px;}
.mast4142{left:48px;top:144px;}
.mast4143{left:96px;top:144px;}
.mast4144{left:144px;top:144px;}
.mast4151{left:0px;top:192px;}
.mast4152{left:48px;top:192px;}
.mast4154{left:144px;top:192px;}
.mast4162{left:48px;top:240px;}
.mast4211{left:202px;top:0px;}
.mast4212{left:250px;top:0px;}
.mast4213{left:298px;top:0px;}
.mast4214{left:346px;top:0px;}
.mast4221{left:202px;top:48px;}
.mast4222{left:250px;top:48px;}
.mast4224{left:346px;top:48px;}
.mast4231{left:202px;top:96px;}
.mast4232{left:250px;top:96px;}
.mast4233{left:298px;top:96px;}
.mast4234{left:346px;top:96px;}
.mast4241{left:202px;top:144px;}
.mast4242{left:250px;top:144px;}
.mast4243{left:298px;top:144px;}
.mast4244{left:346px;top:144px;}
.mast4251{left:202px;top:192px;}
.mast4252{left:250px;top:192px;}
.mast4253{left:298px;top:192px;}
.mast4262{left:250px;top:240px;}
.mast4311{left:404px;top:0px;}
.mast4312{left:452px;top:0px;}
.mast4313{left:500px;top:0px;}
.mast4314{left:548px;top:0px;}
.mast4322{left:452px;top:48px;}
.mast4323{left:500px;top:48px;}
.mast4324{left:548px;top:48px;}
.mast4331{left:404px;top:96px;}
.mast4332{left:452px;top:96px;}
.mast4333{left:500px;top:96px;}
.mast4334{left:548px;top:96px;}
.mast4341{left:404px;top:144px;}
.mast4342{left:452px;top:144px;}
.mast4343{left:500px;top:144px;}
.mast4344{left:548px;top:144px;}
.mast4352{left:452px;top:192px;}
.mast4353{left:500px;top:192px;}
.mast4362{left:452px;top:240px;}
.mp{position: absolute;right: 0;bottom: 0;background: black;color: white;width: 14px;height: 14px;text-align: center;}